
<h1><%= @product.name %></h1>
<% if @product.image_url.present? %>
  <%= image_tag @product.image_url, alt: @product.name %>
<% else %>
  <div>No image</div>
<% end %>

<p><strong>Brand:</strong> <%= @product.brand %></p>
<p><strong>Description:</strong> <%= @product.description %></p>
<p><strong>SKU:</strong> <%= @product.sku %></p>
<p><strong>Stock:</strong> <%= @product.stock %></p>
<p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
<p><strong>Category:</strong> <%= @product.category.name if @product.category %></p>

<% if logged_in? %>
  <%= button_to "Add to Cart", add_to_cart_path(@product), method: :post, class: "logout-btn" %>
<% else %>
  <p> please log in to add to cart. </p>
<% end %>
<%= link_to 'Back to Browse', browse_path %>