<div class="header-container">
    <div class="title">
        <%= link_to root_path, class: "white-links" do %>
            <h1><strong>Fpv Winnipeg</strong></h1>
        <% end %>
    </div>

    <nav class="main">




        <%= link_to 'Browse', browse_path, class: "big-letters" %>
            

            
        
    </nav>

    <nav class="login">
        <% if logged_in? %>
            <%= link_to 'Cart', cart_path, class: "white-links"%>
            <%= button_to "Logout", logout_path, method: :delete, class: "logout-btn"%>
                    
        <% else %>
            <%= link_to "Login / Signup", login_signup_path,  class: "white-links" %>
        <% end %>
    </nav>
</div>